<div class="container footer-part">

    <p class="footer-text">© 2022 | All Rights Reserved | Developed with<svg class="footer__social-icon">
            <use href="./images/sprite.svg#icon-Vector"></use>
        </svg>by <a href="data-modal-open" class="footer-text__command "> <span >GoIT Students</span></a>
        <!-- <ul class="siema">
        <li>Hi, I'm slide 1</li>
        <li>Hi, I'm slide 2</li>
        <li>Hi, I'm slide 3</li>
        <li>Hi, I'm slide 4</li>
        </ul>
        <button class="prev">prev</button>
        <button class="next">next</button> -->
    </div>
    </p>
    <button type="button" class="footer_open" data-modal-open>X</button>
</div>
</div>
