<div class="container header__container">
    <a href="#" class="logo__link">
        <svg class="logo__icon" width="24" height="24">
            <use href="#"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
    </a>
    <ul class="header-nav">
        <li class="header-nav__item">
            <a href="" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
            <a href="" class="header-nav__link">my library</a>
        </li>
    </ul>
</div>