<section class="section hero__section">
  <div class="container hero__container">
    <div class="search__wrapp">
      <input
        class="search__input"
        id="movieSearch"
        type="text"
        name="movieSearch"
      />
      <label class="search__label" for="movieSearch">Поиск фильмов</label>
      <button class="search__btn" type="button">
        временная кнопка для поиска
      </button>
      <p>Api Key 1e3bd345eb5d29ac0f4521d096bb0e9d</p>
      <!-- test-ul -->
      <!-- <ul>
        <li class="gallery__item">
          <div class="movie-card">
            <img
              class="poster"
              src="https://upload.wikimedia.org/wikipedia/commons/c/c2/No_image_poster.png"
              alt="No poster available"
              loading="lazy"
              data-id="{{id}}"
            />

            <div class="movie-details">
              <div class="movie-details-info">
                <p class="movie-name">AQUARELA</p>
                <div class="movie-description">
                  <p class="movie-info">Documentary, Drama, Other | 2019</p>
                  <div class="movie-details-rate">6.5</div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul> -->
    </div>
  </div>
</section>
