<section class="section hero__section">
  <div class="container hero__container">
    <div class="search__wrapp">
      <input
        class="search__input"
        id="movieSearch"
        type="text"
        name="movieSearch"
        placeholder="#"
      />
      <label class="search__label" for="movieSearch">Поиск фильмов</label>
      

      <!-- <button class="search__btn" type="button">
                временная кнопка для поиска
            </button> -->
      <!-- <p>Api Key 1e3bd345eb5d29ac0f4521d096bb0e9d</p> -->
    </div>
    <p class="hero__info">
      Search result not successful. Enter the correct movie name
    </p>
    
  </div>
</section>
