<div class="pagination container">
  <ul class="pagination__list">
    <!-- <li><span><<<</span></li> -->
    <li class="pagination__button right-margin">
      <svg width="12" height="12">
        <use href="././images/sprite.svg#left"></use>
      </svg>
    </li>
    <li class="pagination__item right-margin">
      <span class="pagination__text">1</span>
    </li>
    <li class="pagination__item right-margin dots">
      <span class="pagination__text">&#183;&#183;&#183;</span>
    </li>
    <li class="pagination__item right-margin">
      <span class="pagination__text">2</span>
    </li>
    <li class="pagination__item right-margin active">
      <span class="pagination__text">3</span>
    </li>
    <li class="pagination__item right-margin">
      <span class="pagination__text">4</span>
    </li>
    <li class="pagination__item right-margin dots">
      <span class="pagination__text">&#183;&#183;&#183;</span>
    </li>
    <li class="pagination__item right-margin">
      <span class="pagination__text">5</span>
    </li>
    <li class="pagination__button right-margin">
      <svg width="12" height="12">
        <use href="././images/sprite.svg#right"></use>
      </svg>
    </li>
    <!-- <li><span>>>></span></li> -->
  </ul>
</div>
