.film__button {
    width: 112px;
    height: 44px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $color-lightest;
    cursor: pointer;
    border: 1px solid $color-darkest;
    &:hover,
    &:focus {
        background-color: $color-accent;
        color: $color-lightest;
        border: 1px solid $color-accent;
        box-shadow: 5px 5px 46px 16px rgba(255, 107, 1, 0.3);
    }
}

.film__button:first-child {
    margin-right: 15px;
}

.modal-close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-bottom: 8px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    background-position: 50%;
    background-size: 60%;
    background-repeat: no-repeat;
    &:hover,
        &:focus {
            
            box-shadow: 5px 5px 46px 16px rgba(255, 107, 1, 0.3);
        }
}

.trailer__btn {
    position: absolute;
    background-color: $color-accent;
    z-index: 1;
    width: 60px;
    height: 35px;
    margin-top: 20px;
    margin-left: 5px;
    align-items: center;
    border: 2px solid $color-darkest;
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $color-accent-2;
        color: $color-lightest;
        border: 1px solid $color-accent;
        box-shadow: 5px 5px 46px 16px rgba(255, 107, 1, 0.3);
    }
}