.backdrop {
    opacity:0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 11, 11, 0.732);
    position: fixed;
    top: 0%;
    left: 0%;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &.shown {
        opacity: 1;
        pointer-events: all;
    }
  }

  .modal {
    @media screen and (min-width: 320px) and (max-width: 449px) {
      width: 320px;
      height: 609px;
    }
    @media screen and (min-width: 450px) and (max-width: 1999px) {
      width: 450px;
      height: 609px;
    }
  
    @media screen and (min-width: 767.8px) {
        width: 670px;
        height: 670px;
    }
    
    background-color: white;
    box-shadow: 0 0 100px 80px rgba(160, 101, 6, 0.192);
    border-radius: 20px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: scale(1) rotate(0) translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #0000001A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center
    //   &:hover,
    //   &:focus {
    //     fill: 00;
    //   }
    }

  }

.worker__list {
    background-color: white;
    width: 100%;
  
    border-radius: 20px;
    padding-bottom: 0px;
    // margin-bottom: 30px;

    text-align: center;}
    
.worker-positoin {
    margin: 10px;
}
.worker-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button__modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.next{
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #eeeeee00;
}

.next:hover,
.next:focus {
 box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
 transform: scale(1.03);
}

.prev{
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #eeeeee00;
}
.prev:hover,
.prev:focus {
 box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
 transform: scale(1.03);
}

.modal__close:hover,
.modal__close:focus {
 box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
 transform: scale(1.03);
}


.worker__img {
border-radius: 50%;
box-shadow: 0 0 100px 20px rgba(160, 101, 6, 0.787);
background-size: cover;
}

.modal-close-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #99a1ca;
    top: 0;
    right: 0;
    background-color: initial;
    border-radius: 50%;
}

.goit-logo {
 position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

