.poput {
    opacity: 0;
    position: fixed; 
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0, 0.8); /* Fallback color */
    left: 0;
    top: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    //   z-index: 1; /* Sit on top */
    //   padding-top: 100px; /* Location of the box */
      
      
    //   overflow: auto; /* Enable scroll if needed */

  }
  .poput-body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
  }
.poput.open{
    opacity: 1;
    visibility: visible;
}
.poput.open .poput-content {
    transform: translate(0px, 0px);
    opacity: 1;
}
.poput-content {
      position: relative;
      background-color: #E1BEE7;
      color: black;
    //   margin: auto;
      padding: 30px;
    //   border: 5px solid #7B1FA2;
      max-width: 800px;
      position: relative;
      transition: all 0.8s ease 0s;
      opacity: 0;
      transform: translate(0px, -100%);
    //   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    //   -webkit-animation-name: animatetop;
    //   -webkit-animation-duration: 0.4s;
    //   animation-name: animatetop;
    //   animation-duration: 0.4s
}
.poput-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0, 0.8);
    text-decoration: none;
}
  
// //   @-webkit-keyframes animatetop {
// //       from {top:-300px; opacity:0} 
// //       to {top:0; opacity:1}
// //   }
  
// //   @keyframes animatetop {
// //       from {top:-300px; opacity:0}
// //       to {top:0; opacity:1}
// //   }
  
  
//   .close {
//       color: white;
//       float: right;
//       font-size: 28px;
//       font-weight: bold;
//   }
  
//   .close:hover,
//   .close:focus {
//       color: #000;
//       text-decoration: none;
//       cursor: pointer;
//   }
  
//   .modal-header {
//       padding: 2px 16px;
//       background-color: #9C27B0;
//       color: white;
//   }
  
//   .modal-body {padding: 2px 16px;}
  
//   .modal-footer {
//       padding: 2px 16px;
//       background-color: #9C27B0;
//       color: white;
//   }